# 一般的な除外ファイル
.DS_Store
.idea/
.vscode/
*.log
*.tmp
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

# バックエンド関連
backend/build/
backend/.gradle/
backend/out/
backend/target/
backend/bin/
backend/logs/
backend/.settings/
backend/.project
backend/.classpath

# フロントエンド関連
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/coverage/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnp
frontend/.pnp.js

# データベース関連
db/data/
*.db

# Docker関連
.docker/
volume/
.dockerignore

# 本番環境設定
.env.production 